%h1.page-header Nuevo envio

=simple_form_for @delivery, url: admin_marketing_deliveries_path do |f|
  =@delivery.errors.inspect
  .row
    .col-md-6
      = f.input :name
  .row
    .col-md-6
      = f.input :domain, collection: @domains.map{|h| h["name"]} if @domains.count > 1
      =# f.input :gun_name, as: :string
    .col-md-6
      = f.input :from
  .row
    .col-md-6
      = f.input :template_id, collection:  @templates.map{|h| [h["name"], h["id"]]}
    .col-md-6
      = f.input :list_id, collection: @lists.map{|h| [h["name"], h["id"]]}
  =f.submit "Guardar", class: "btn btn-primary"
