=render "email_marketing/admin/shared/menu"
%h1.page-header Listas
=link_to "Nueva lista", new_admin_marketing_list_path, class: "btn btn-primary pull-right"
=link_to "Nueva lista CSV", new_csv_admin_marketing_lists_path, class: "btn btn-primary pull-right"

%table.table.table-striped.table-hover
  %thead
    %tr
      %th Nombre
  %tbody
    -@lists.each do |list|
      %tr
        %td=link_to list["name"], admin_marketing_list_path(list["slug"])
